<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>Youtube</title>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid row">
           <div class="col-sm-8">
            <a class="navbar-brand ms-2" href="https://www.youtube.com">
                <img src="https://toppng.com/uploads/preview/youtube-logo-white-svg-11549681002gymvrhd99o.png" width="80px" height="45px">
                <span>Youtube</span>
            </a>
           </div>
            <div class="col-sm-4 row">
                <div class="col-sm-6">
                    <input id="search" class="form-control me-2" type="search" placeholder="Search by name, description" aria-label="Search" onkeyup="search();">
                </div>
                <div class="col-sm-3 text-center">
                    <button class="btn btn-outline-dark"  onclick="getVideoData(prev);" id="prev">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                            Previous
                        </span>
                    </button>
                </div>
                <div class="col-sm-3 text-center">
                    <button class="btn btn-outline-dark"  onclick="getVideoData(next);" id="next">
                        Next
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                        </button>
                </div>
                </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="video-data"><!-- Data loads here --></div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    var prev;
    var next;
    var youtubeHost = 'https://www.youtube.com/watch?v=';
    function search(url) {
        var searchedTerm = $('#search').val()
        var url = `/videos?limit=12&title=${searchedTerm}&description=${searchedTerm}`
        getVideoData(url);
    }
    function getVideoData(url) {
        var url = url ? url : '/videos?limit=12';
        $.ajax({
            type: "GET",
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: url,
            dataType: 'json',
            success: function (data) {
                html = '';
                data.results.forEach(video => {
                    html += `<div class="col-sm-3 p-5">
                                <a href="${youtubeHost+video.id}" target="_blank">
                                    <div class="card">
                                        <img class="card-img-top" src="${video.thumbnails.high.url}" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">${video.title}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>`
                });
                prev = data.previous
                next = data.next
                if(!prev){
                    $('#prev').addClass('disabled')
                } else{
                    $('#prev').removeClass('disabled')
                }
                if(!next){
                    $('#next').addClass('disabled')
                } else{
                    $('#next').removeClass('disabled')
                }
                $('#video-data').html(html);
            }
        });
    }
    $(function(){
        getVideoData();
    });
</script>
</html>